<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>Index</title>
</head>
<body>
<p> Try to send data here.</p>
     <div class="jumbotron">
        <p id="result">Your prediction</p>
      </div>
     <div class="canvasDiv">
          <canvas id="canvas" width="280" height="280" style="padding-bottom: 20px">
          </canvas>
          <br />
          <p style="text-align:center;">
          <a class="btn btn-success myButton" href="#" role="button">Predict</a>
          <a class="btn btn-primary" href="#" id="clearButton" role="button">Clear</a>
          </p>
        </div>
</body>
<script type="module">
  // Import the functions you need from the SDKs you need
  import { initializeApp } from "https://www.gstatic.com/firebasejs/9.13.0/firebase-app.js";
  import { getAnalytics } from "https://www.gstatic.com/firebasejs/9.13.0/firebase-analytics.js";
  // TODO: Add SDKs for Firebase products that you want to use
  // https://firebase.google.com/docs/web/setup#available-libraries

  // Your web app's Firebase configuration
  // For Firebase JS SDK v7.20.0 and later, measurementId is optional
  const firebaseConfig = {
    apiKey: "AIzaSyCMdCoSrUQvXU82qeoiKTn1muHr15nnRE0",
    authDomain: "pdiot-c.firebaseapp.com",
    projectId: "pdiot-c",
    storageBucket: "pdiot-c.appspot.com",
    messagingSenderId: "1026962124647",
    appId: "1:1026962124647:web:462fe45f7f450ac01149c2",
    measurementId: "G-77WGN87ED4"
  };

  // Initialize Firebase
  const app = initializeApp(firebaseConfig);
  const analytics = getAnalytics(app);
</script>
</html>