<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>Index</title>
</head>
<body>
<p> Try to send data here.</p>
     <div class="jumbotron">
        <p id="result">Your prediction</p>
      </div>
     <div class="canvasDiv">
          <canvas id="canvas" width="280" height="280" style="padding-bottom: 20px">
          </canvas>
          <br />
          <p style="text-align:center;">
          <a class="btn btn-success myButton" href="#" role="button">Predict</a>
          <a class="btn btn-primary" href="#" id="clearButton" role="button">Clear</a>
          </p>
        </div>
</body>
</html>